.container {
  max-width: 1580px;
  padding: 0 15px;
  margin: 0 auto;
}

.card {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    flex-grow: 1;
    padding-top: 150px;
    max-width: 1080px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    &_left {
      width: 45%;
      padding-top: 40px;
    }
    &_right {
      width: 50%;
      height: 316px;
      background-size: cover;
      background-position: center center;
    }
    &_title {
      font-weight: 900;
      font-size: 26px;
      line-height: 37px;
      color: #242424;
      text-transform: uppercase;
    }
    &_subtitle {
      margin-top: 30px;
      font-weight: 600;
      font-size: 17px;
      line-height: 21px;
      color: #242424;
    }
    &_text {
      font-weight: 400;
      font-size: 17px;
      line-height: 21px;
      margin-top: 30px;
      color: #000000;
      span {
        font-weight: 600;
      }
    }
    &_spisok {
      margin-top: 30px;
      &_title {
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
        color: #000000;
      }
      ul {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        padding-left: 29px;
        li {
          font-size: 17px;
          line-height: 21px;
          color: #000000;
          margin-bottom: 2px;
          padding-left: 23px;
          &:last-child {
            margin-bottom: 0;
          }
          position: relative;
          &:before {
            content: "";
            position: absolute;
            background: #ff6a39;
            width: 12px;
            height: 12px;
            top: 4px;
            left: 0;
            border-radius: 50%;
          }
        }
      }
    }
  }
  &__after {
    margin-top: 45px;
    padding: 0 90px 0 48px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    position: relative;
    display: flex;
    align-items: flex-start;
    span {
      margin-right: 20px;
      margin-top: -5px;
    }
  }
  &__text {
    margin-top: 40px;
  }
  &__table {
    margin-top: 15px;
    &_row {
      display: flex;
      justify-content: space-between;
    }
    &_column {
      padding: 25px 0;
      font-size: 18px;
      line-height: 24px;
      color: #242424;
      display: flex;
      justify-content: center;
      font-weight: 500;
      text-align: center;
      align-items: center;
      &:nth-child(1) {
        padding-left: 70px;
        justify-content: flex-start;
        text-align: left;
        width: 44%;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 36%;
        span {
          max-width: 267px;
        }
      }
    }
    &_content {
      padding-right: 40px;
      .card__table_row {
        border-bottom: 1px solid #e9e9e9;
        &:nth-child(2n) {
          background: #f8f8f8;
        }
      }
    }
    &_head {
      margin-right: 40px;
      .card__table_row {
        border-bottom: 1px solid #ff6a39;
        .card__table_column {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          &:before {
            content: "";
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background: #ff6a39;
            width: 1px;
            height: 24px;
            position: absolute;
          }
          &:last-child {
            &:before {
              width: 0;
            }
          }
        }
      }
    }
    &_title {
      font-weight: 700;
    }
  }
}

@media (max-width: 1650px) {
  .simplebar-track.simplebar-vertical,
  .simplebar-track {
    right: 0 !important;
  }
}

@media (max-width: 1500px) {
  .card__content {
    max-width: 1000px;
  }
}

@media (max-width: 1450px) {
  .card__content {
    max-width: 70%;
  }
}

@media (max-width: 1300px) {
  .card__content {
    max-width: 100%;
    padding-top: 0px;
    margin-top: 50px;
  }
  .card__wrapper {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .card__top_left {
    padding-top: 0;
  }
  .card__top_left_main {
    position: absolute;
    top: 0;
    left: 0;
  }
  .card__content {
    padding-top: 120px;
    position: relative;
  }
  .card__top {
    flex-direction: column;
  }
  .card__top_left {
    order: 2;
    width: 100%;
  }
  .card__top_right {
    width: 425px;
    height: 290px;
    order: 1;
  }
  .card__top_subtitle {
    margin-top: 10px;
  }
}

@media (max-width: 800px) {
  .card__table_head .card__table_row .card__table_column {
    font-size: 16px;
  }
  .card__table {
    padding-right: 0;
    overflow: hidden;
  }
  .card__table_column:nth-child(1) {
    padding: 0;
    justify-content: center;
    text-align: center;
  }
  .card__table_column {
    font-size: 15px;
    padding: 25px 10px;
  }
  .card__table_column {
    &:nth-child(1) {
      width: 41%;
    }
    &:nth-child(2) {
      width: 22%;
    }
    &:nth-child(3) {
      width: 37%;
    }
  }
}

@media (max-width: 700px) {
  .table_main {
    margin: 0 -15px;
  }
  .card__content {
    padding-top: 140px;
  }
  .card__after {
    padding: 0;
    margin-top: 20px;
    span {
      margin-right: 10px;
    }
  }
  .card__top_text {
    margin-top: 20px;
  }
  .card__top_spisok {
    margin-top: 20px;
  }
  .card__top_spisok ul {
    padding-left: 0;
  }
  .card__text {
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
  .card__table_content {
    padding-right: 0;
  }
  .card__table_head {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .card__content {
    padding-top: 160px;
  }
  .card__table {
    overflow-x: scroll;
  }
  .table_main_bar {
    width: 480px;
  }
  .table_main {
    overflow: hidden;
  }
  .card__table_head {
    width: 480px;
  }
  .card__table_column {
    padding: 20px 10px;
  }
  .card__top_right {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .card__content {
    padding-top: 180px;
  }
}
