.modals {
  background: rgba(124, 124, 124, 0.75);
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.6s;
  z-index: -1;
}

.modal-appllication,
.modal-appllication2,
.modal-metal,
.modal-metal2,
.modal-cart,
.modal-delete,
.modal-arrange {
  display: none;
}

.modal-appllication2,
.modal-metal2 {
  .modal-wrapper__form-block_input {
    width: 78%;
  }
}

.modal-wrapper {
  width: 511px;
  padding: 40px 65px;
  background: #ffffff;
  border-radius: 1px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__close {
    position: absolute;
    top: 30px;
    right: 40px;
    transition: all 0.4s;
    &:hover {
      transform: rotate(180deg);
    }
  }
  &__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #6b3d2e;
    text-transform: uppercase;
    text-align: center;
  }
  &__form {
    margin-top: 30px;
    &-block {
      width: 100%;
      &_item {
        width: 100%;
        label {
          margin-bottom: 2px;
          font-size: 17px;
          line-height: 21px;
          color: #333333;
          span {
            font-size: 17px;
            line-height: 20px;
            color: #ff6a39;
            margin-left: 2px;
          }
        }
        input,
        textarea {
          width: 100%;
          background: #ffffff;
          border: 1px solid #b0b0b0;
          border-radius: 4px;
          height: 47px;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: #b0b0b0;
          padding: 0 22px;
          outline: none;
          transition: all 0.4s;
          &:focus {
            border: 1px solid #ff6a39;
            color: black;
          }
          &::placeholder {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #b0b0b0;
          }
        }
        textarea {
          resize: none;
          padding: 12px 22px;
          height: 100px;
        }
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &_file {
        margin-top: 6px;
        display: flex;
        justify-content: flex-end;
        .modal-wrapper__form-block_file-btn {
          &:hover {
            label {
              cursor: pointer;
              color: #ff6a39;
            }
          }
        }
        label {
          font-size: 15px;
          line-height: 18px;
          text-decoration-line: underline;
          color: #333333;
          margin-right: 11px;
          transition: all 0.4s;
        }
        input {
          display: none;
        }
      }
      &_text {
        margin-top: 10px;
        font-size: 17px;
        line-height: 21px;
        color: #333333;
        display: flex;
        align-items: center;
        span {
          font-size: 17px;
          line-height: 20px;
          color: #ff6a39;
          margin-right: 4px;
        }
      }
      &_checkbox {
        margin-top: 10px;
        padding-left: 34px;
        a {
          text-decoration-line: underline;
          color: #242424;
          transition: all 0.4s;
          display: inline;
          &:hover {
            color: #ff6a39;
          }
        }
        label {
          font-weight: 300;
          font-size: 16px;
          line-height: 20px;
          color: #242424;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            width: 23px;
            height: 23px;
            background: #ffffff;
            border: 1px solid #ff6a39;
            border-radius: 4px;
            left: -34px;
          }
          &:after {
            content: "";
            background-image: url("../img/cart/checked.svg");
            width: 23px;
            height: 23px;
            background-size: cover;
            position: absolute;
            top: 0;
            left: -35px;
            display: none;
          }
        }
        input {
          display: none;
        }
        input[type="checkbox"]:checked + label {
          &:after {
            display: block;
          }
        }
      }
      &_submit {
        margin-top: 30px;
        .btn {
          background: #ff6a39;
          color: white;
          width: auto;
          padding: 0 48px 0 25px;
          border: 1px solid #ff6a39;
          &:hover {
            background-color: #fff;
            color: #ff6a39;
            &:before {
              background-color: #ff6a39;
            }
          }
          &:before {
            background-color: white;
          }
        }
      }
    }
    &-buttons {
      margin-top: 40px;
      display: flex;
      justify-content: flex-end;
    }
    &-order {
      background: #ff6a39;
      color: white;
      width: auto;
      padding: 0 51px 0 28px;
      border: 1px solid #ff6a39;
      &:before {
        background-color: white;
      }
      &:hover {
        background-color: white;
        color: #ff6a39;
        &:before {
          background-color: #ff6a39;
        }
      }
    }
    &-back {
      margin-left: 20px;
      border: 1px solid #ff6a39;
      width: auto;
      padding: 0 48px 0 25px;
    }
  }
}

.modal-delete {
  .modal-wrapper__form-buttons {
    justify-content: center;
  }
}

.modal-cart {
  width: 1155px;
  .modal-wrapper__form {
    margin-top: 66px;
    &-table {
      &_row {
        display: flex;
        align-items: center;
        height: 76px;
      }
      &_head {
        border-bottom: 1px solid #ff6a39;
        .modal-wrapper__form-table_column {
          font-size: 18px;
          line-height: 24px;
          color: #242424;
          font-weight: 700;
          position: relative;
          &:before {
            content: "";
            height: 24px;
            width: 0.5px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: #ff6a39;
          }
          &:last-child {
            &:before {
              width: 0;
            }
          }
          &:nth-child(1) {
            width: 65%;
          }
          &:nth-child(2) {
            width: 16%;
          }
          &:nth-child(3) {
            width: 19%;
          }
        }
      }
      &_column {
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(1) {
          width: 65%;
        }
        &:nth-child(2) {
          width: 16%;
        }
        &:nth-child(3) {
          width: 19%;
        }
      }
      &_content {
        border-bottom: 1px solid #ff6a39;
        .modal-wrapper__form-table_column {
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          color: #242424;
          &:nth-child(1) {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}

.modal-open-cart,
.modal-open-application,
.modal-open-metal,
.modal-open-delete,
.modal-open-application2,
.modal-open-metal2,
.modal-open-arrange {
  overflow: hidden;
  .modals {
    z-index: 9999;
    opacity: 1;
  }
}

.modal-open-cart {
  .modal-cart {
    display: block;
  }
}

.modal-open-application {
  .modal-appllication {
    display: block;
  }
}

.modal-open-metal {
  .modal-metal {
    display: block;
  }
}

.modal-open-delete {
  .modal-delete {
    display: block;
  }
}

.modal-open-application2 {
  .modal-appllication2 {
    display: block;
  }
}

.modal-open-metal2 {
  .modal-metal2 {
    display: block;
  }
}

.modal-open-metal2,
.modal-open-application2,
.modal-arrange {
  .modal-wrapper__title {
    text-align: left;
  }
  .modal-wrapper__form-block_input {
    width: 85%;
  }
}

.modal-open-cart {
  .modal-wrapper__title {
    text-transform: none;
    font-size: 24px;
    line-height: 29px;
  }
}

.modal-open-arrange {
  .modal-arrange {
    display: block;
  }
}

.modal-cart {
  .modal-wrapper__form-mobile {
    display: none;
  }
}

@media (max-width: 1250px) {
  .modal-cart {
    width: 95%;
  }
}

@media (max-width: 1100px) {
  .modal-cart .modal-wrapper__form-table_column {
    &:nth-child(1) {
      width: 50% !important;
    }
    &:nth-child(2) {
      width: 25% !important;
    }
    &:nth-child(3) {
      width: 25% !important;
    }
  }
}

@media (max-width: 780px) {
  .modal-cart {
    .modal-wrapper__form-table {
      display: none !important;
    }
    .modal-wrapper__form-mobile {
      display: flex !important;
      flex-direction: column;
      .modal-wrapper__form-table_column {
        width: 100% !important;
        justify-content: flex-start;
        border: 0;
        &:first-child {
          margin-bottom: 5px;
        }
        &:after {
          width: 0;
        }
      }
      .modal-wrapper__form-table_row {
        display: flex;
        flex-direction: column;
      }
      .modal-wrapper__form-table_row {
        border-bottom: 1px solid #ff6a39;
        margin-bottom: 10px;
      }
    }
  }
  .modal-wrapper__wrapper {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .modal-open-cart .modal-wrapper__title {
    font-size: 18px;
    line-height: 20px;
  }
  .modal-delete {
    .modal-wrapper__form-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      .btn {
        margin: 0;
      }
      .modal-wrapper__form-delete {
        margin-right: 20px;
      }
    }
  }
  .modal-wrapper__form-buttons .modal-wrapper__form-back {
    margin-left: 0;
    margin-top: 10px;
  }
  .modal-wrapper__form-buttons {
    flex-direction: column;
    align-items: flex-start;
  }
  .modal-wrapper__form-table_column {
    font-size: 13px !important;
    line-height: 17px !important;
  }
  .modal-cart .modal-wrapper__form {
    margin-top: 40px;
  }
  .modal-cart .modal-wrapper__form-table_row {
    height: auto;
    padding: 10px 0;
  }
  .modal-wrapper {
    width: 95%;
    padding: 20px;
    overflow-y: auto;
    max-height: 95%;
  }
  .modal-wrapper__title {
    padding-right: 60px;
    text-align: left;
  }
  .modal-wrapper__close {
    top: 20px;
    right: 20px;
  }
}

@media (max-width: 450px) {
  .modal-wrapper__form-buttons {
    margin-top: 20px;
  }
  .modal-cart .modal-wrapper__form {
    margin-top: 20px;
  }
  .modal-wrapper__form-order,
  .modal-wrapper__form-back {
    height: 45px;
    font-size: 14px;
    line-height: 16px;
  }
  .modal-wrapper__title {
    font-size: 16px;
    line-height: 20px;
  }
  .modal-wrapper__form {
    margin-top: 10px;
  }
  .modal-wrapper__form-block_item label {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 6px;
    display: block;
  }
  .modal-wrapper__form-block_checkbox label:before {
    width: 20px;
    height: 20px;
    left: -30px;
  }
  .modal-wrapper__form-block_checkbox label:after {
    width: 20px;
    height: 20px;
    left: -30px;
  }
  .modal-wrapper__form-block_checkbox {
    padding-left: 30px;
  }
  .modal-wrapper__form-block_text {
    font-size: 13px;
  }
  .modal-wrapper__form-block_checkbox label {
    font-size: 13px;
  }
  .modal-wrapper__form-block_submit {
    margin-top: 20px;
  }
  .modal-wrapper__form {
    margin-top: 20px;
  }
}

@media (max-width: 360px) {
  .modal-delete .modal-wrapper__form-buttons {
    .btn {
      padding: 0 40px 0 20px;
      &:before {
        right: 15px;
      }
    }
  }
  .modal-delete .modal-wrapper__form-buttons .modal-wrapper__form-delete {
    margin-right: 10px;
  }
}
