.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.news {
  overflow: hidden;
  .container {
    margin-top: 90px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    &_left {
      width: 70%;
      &_item {
        border-bottom: 1px solid #ff6a39;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        height: 100%;
        display: flex;
        overflow: hidden;
        &.active {
          .news__wrapper_left_review {
            z-index: 50;
            position: static;
            transform: translateX(0%);
          }
          .news__wrapper_left_main {
            position: absolute;
          }
        }
      }
      &_date {
        font-size: 17px;
        line-height: 21px;
      }
      &_title {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        margin-top: 15px;
      }
      &_more {
        margin-top: 13px;
        color: #333333;
        transition: all 0.4s;
        path {
          transition: all 0.4s;
        }
        span {
          margin-left: 10px;
        }
        &:hover {
          color: #ff6a39;
          path {
            fill: #ff6a39;
          }
        }
      }
      &_edit {
        background: #ff6a39;
        height: 34px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: 15px;
        line-height: 18px;
        color: #ffffff;
        transition: all 0.4s;
        border: 1px solid #ff6a39;
        &:hover {
          background-color: #fff;
          color: #ff6a39;
        }
      }
      &_btn {
        display: flex;
        align-items: center;
        margin: 40px auto 0 auto;
        span {
          margin-left: 15px;
          margin-top: 5px;
        }
      }
      &_review {
        width: 100%;
        height: 100%;
        background: #f9f9f9;
        padding: 40px 100px 40px 70px;
        position: absolute;
        left: 0;
        top: 0;
        transition: all .2s;
        transform: translateX(100%);
        &:before {
          content: "";
          width: 165px;
          right: 0;
          position: absolute;
          background-image: url("../img/News/card-bg.svg");
          height: 100%;
          top: 0;
          background-repeat: no-repeat;
          background-size: cover;
        }
        &:after {
          content: '';
          position: absolute;
          border-top: 61px solid #fff;
          border-right: 68px solid transparent;
          top: 0;
          left: 0;
        }
        &_close {
          position: absolute;
          top: 30px;
          right: 33px;
          z-index: 50;
          background: none;
          transition: all 0.4s;
          &:hover {
            transform: rotate(180deg);
          }
        }
        &_title {
          font-size: 18px;
          line-height: 22px;
          font-weight: 700;
          color: #ff6a39;
        }
        &_text {
          margin-top: 18px;
          font-size: 17px;
          line-height: 21px;
          color: #000000;
        }
        &_buttons {
          margin-top: 40px;
          display: flex;
          justify-content: space-between;
          .download {
            font-size: 18px;
            line-height: 22px;
            text-decoration-line: underline;
            color: #242424;
            display: flex;
            align-items: center;
            transition: all 0.4s;
            span {
              margin-left: 10px;
            }
            &:hover {
              color: #ff6a39;
            }
          }
        }
        &_market {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          line-height: 18px;
          color: #000000;
          background: #ffffff;
          padding: 7px 20px;
          position: relative;
          z-index: 50;
          transition: all 0.4s;
          border: 1px solid #fff;
          &:hover {
            color: #fff;
            background: #ff6a39;
            border: 1px solid #fff;
          }
        }
      }
      &_main {
        padding: 40px 60px;
        width: 100%;
      }
    }
    &_right {
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      width: 30%;
      &_top {
        padding: 37px 60px;
        position: relative;
        color: #fff;
        &:before {
          height: 589px;
          width: 855px;
          background-image: url("../img/news/news-bg.svg");
          content: "";
          position: absolute;
          left: 0;
          bottom: 0px;
          background-repeat: no-repeat;
        }
        &_block {
          position: relative;
          z-index: 50;
        }
      }
      &_title {
        font-size: 22px;
        line-height: 27px;
        font-weight: 700;
      }
      &_spisok {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        a {
          font-size: 20px;
          line-height: 24px;
          color: #fff;
          transition: all 0.2s;
          white-space: nowrap;
          pointer-events: none;
          cursor: pointer;
        }
        li {
          margin-bottom: 10px;
          padding-left: 30px;
          position: relative;
          &:last-child {
            margin-bottom: 0;
          }
          &:before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            background-color: #fff;
            border-radius: 50%;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            opacity: 0;
            transition: all 0.4s;
          }
          &:hover,
          &.active {
            cursor: pointer;
            a {
              font-weight: 700;
            }
            &:before {
              opacity: 1;
            }
          }
        }
      }
      &_bottom {
        margin-top: 100px;
        padding-left: 60px;
        padding-bottom: 73px;
        position: relative;
        &:before {
          content: "";
          width: 585px;
          height: 1px;
          background-color: #ff6a39;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        h2 {
          font-size: 24px;
          line-height: 35px;
          padding: 0;
          &:before {
            top: auto;
            transform: translate(0);
            bottom: 0px;
            right: -17px;
            left: auto;
            width: 60px;
            height: 60px;
          }
        }
      }
      &_subscribe {
        &_text {
          margin-top: 20px;
          max-width: 426px;
        }
        &_form {
          margin-top: 40px;
          display: flex;
        }
        &_input {
          position: relative;
          margin-right: 20px;
          label {
            position: absolute;
            top: -22px;
            font-size: 17px;
            line-height: 20px;
            color: #242424;
          }
          input {
            width: 273px;
            height: 48px;
            background: #ffffff;
            border: 1px solid #949494;
            border-radius: 2px;
            padding: 0 22px;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #949494;
          }
        }
        &_submit {
          button {
            padding: 0 51px 0 28px;
            background: #ff6a39;
            width: auto;
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            height: 100%;
            color: #fff;
            border: 1px solid #ff6a39;
            &:before {
              background-color: #fff;
            }
            &:hover {
              background-color: #fff;
              color: #ff6a39;
              &:before {
                background-color: #ff6a39;
              }
            }
          }
        }
      }
    }
  }
  .download {
    font-size: 16px;
  }
}

@media (max-width: 1700px) {
  .news__wrapper_right {
    width: 35%;
  }
  .news__wrapper_right_bottom h2 {
    display: inline-block;
  }
  .news__wrapper_right_bottom h2:before {
    right: -33px;
  }
}

@media (max-width: 1550px) {
  .news__wrapper_right {
    width: 42%;
    margin-left: 30px;
  }
  .news__wrapper_left {
    width: 55%;
  }
}

@media (max-width: 1400px) {
  .news__wrapper {
    flex-direction: column;
    &_left {
      width: 100%;
    }
    &_left {
      order: 1;
    }
    &_right {
      width: 100%;
      margin-left: auto;
      flex-direction: row;
      &_top {
        order: 2;
        width: 600px;
        margin-left: 80px;
        &_block {
          padding-top: 60px;
        }
      }
      &_bottom {
        order: 1;
      }
    }
  }
}

@media (max-width: 1100px) {
  .news__wrapper {
    position: relative;
    padding-bottom: 300px;
    &_right {
      flex-direction: column;
      &_top {
        margin-left: auto;
        order: 1;
      }
      &_bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        &:before {
          width: 0%;
        }
      }
    }
    &_left {
      border-bottom: 1px solid #ff6a39;
      padding-bottom: 40px;
    }
  }
  .news__wrapper_right_subscribe_text {
    max-width: 100%;
  }
  .news__wrapper_left_edit {
    margin-top: 20px;
  }
}

@media (max-width: 900px) {
  .news__wrapper_left_review {
    padding: 40px 100px 40px 40px;
  }
}

@media (max-width: 600px) {
  .news__wrapper_left_review {
    padding: 40px 35px 105px 35px;
    &:before {
      background-image: url(../img/News/card-bg-mobile.svg);
      left: 0;
      bottom: 0;
      height: 100px;
      width: 100%;
      top: auto;
      background-position: top right;
    }
    .download {
      position: absolute;
      bottom: 12px;
      left: 40px;
      font-size: 18px;
      line-height: 22px;
      text-decoration-line: underline;
      color: #ffffff;
      path {
        fill: #fff;
      }
    }
    &_market {
      margin-left: auto;
    }
    &_close {
      path {
        fill: #242424;
      }
    }
    &_buttons {
      margin-top: 20px;
    }
  }
  .news__wrapper_right_subscribe_input {
    flex-grow: 1;
    input {
      width: 100%;
    }
  }
  .news__wrapper {
    &_right {
      padding-left: 15px;
      &_bottom {
        padding-left: 0;
      }
    }
  }
  .news__wrapper_left_main {
    padding: 40px 0;
  }
}

@media (max-width: 500px) {
  .news .container {
    margin-top: 60px;
  }
  .news__wrapper {
    margin-top: 40px;
  }
  .news__wrapper_right_spisok a {
    white-space: inherit;
  }
  .news__wrapper_right {
    padding-left: 0;
  }
  .news__wrapper_right_top {
    padding: 20px 20px 20px 10px;
    width: 100%;
    &:before {
      height: 519px;
      width: 600px;
      left: -96px;
      background-size: cover;
    }
  }
  .news__wrapper_left_review .download {
    bottom: 15px;
  }
}

@media (max-width: 450px) {
  .news__wrapper_right_spisok {
    margin-top: 20px;
    a {
      font-size: 16px;
    }
  }
  .news__wrapper_left_review:after {
    display: none;
  }
  .news__wrapper_left_review {
    padding: 40px 15px 105px 15px;
    &_title {
      font-size: 16px;
      line-height: 18px;
    }
    &_text {
      font-size: 16px;
      line-height: 18px;
    }
    &_close {
      top: 20px;
      right: 10px;
    }
  }
  .news__wrapper_right_bottom h2 {
    font-size: 17px;
    line-height: 20px;
    &:before {
      width: 40px;
      height: 40px;
      right: -25px;
    }
  }
  .news__wrapper {
    padding-bottom: 400px;
  }
  .news__wrapper_right_subscribe_form {
    flex-direction: column;
  }
  .news__wrapper_right_subscribe_submit {
    height: 48px;
    margin-top: 10px;
  }
  .news__wrapper_right_subscribe_input {
    margin-right: 0;
  }
}

@media (max-width: 400px) {
  .news__wrapper_left_title {
    margin-top: 10px;
  }
  .news__wrapper_left_date {
    font-size: 14px;
    line-height: 15px;
  }
  .news__wrapper_left_more {
    font-size: 14px;
  }
  .news__wrapper_left_edit {
    font-size: 13px;
    line-height: 15px;
  }
  .news__wrapper_left_title {
    font-size: 16px;
    line-height: 18px;
  }
  .news__wrapper_right_top {
    &:before {
      height: 430px;
      left: -100px;
    }
  }
  .news__wrapper_right_title {
    font-size: 18px;
    line-height: 20px;
  }
  .news__wrapper_right_spisok {
    margin-top: 20px;
    li {
      padding-left: 20px;
      &:before {
        width: 10px;
        height: 10px;
      }
    }
  }
  .news__wrapper_right_spisok a {
    font-size: 14px;
    line-height: 16px;
  }
}
